
<% if (title) { %>
    <h1><%= title %></h1>
  <% } %>
  

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

  

  <form action="/inv/add-vehicle" method="POST" class="add-vehicle-form">
    <div class="form-group">
        <label for="classification_id">Classification:</label>
        <select id="classification_id" name="classification_id" required>
            <option value="">Select a classification</option>
            <% classifications.rows.forEach(classification => { %>
                <option value="<%= classification.classification_id %>"><%= classification.classification_name %></option>
            <% }) %>
        </select>
    </div>
    <div class="form-group">
        <label for="inv_make">Make:</label>
        <input type="text" id="inv_make" name="inv_make"  placeholder="Minimum 2 characters" pattern="[A-Za-z]{2,}" required value="<%= locals.inv_make %>">
    </div>
    <div class="form-group">
        <label for="inv_model">Model:</label>
        <input type="text" id="inv_model" name="inv_model"  placeholder="Minimum 2 characters, alphabetic only" pattern="[A-Za-z]{2,}" required value="<%= locals.inv_model %>">
    </div>
    <div class="form-group">
        <label for="inv_year">Year:</label>
        <input type="text" id="inv_year" name="inv_year"  placeholder="Minimum of 4 digits" pattern="\d{4}" required value="<%= locals.inv_year %>">
    </div>
    <div class="form-group">
        <label for="inv_description">Description:</label>
        <input type="text" id="inv_description" name="inv_description" placeholder="Tell us about the Vehicle"  required value="<%= locals.inv_description %>">
    </div>
    <div class="form-group">
        <label for="inv_image">Image Path:</label>
        <input type="text" id="inv_image" name="inv_image" placeholder="E.G: /images/vehicles/fiat.png" required value="<%= locals.inv_image %>">
    </div>
    <div class="form-group">
        <label for="inv_thumbnail">Thumbnail Path:</label>
        <input type="text" id="inv_thumbnail" name="inv_thumbnail" placeholder="E.G: /images/vehicles/fiat_thumbnail.png" required value="<%= locals.inv_thumbnail %>">
    </div>
    <div class="form-group">
        <label for="inv_price">Price:</label>
        <input type="number" id="inv_price" name="inv_price"  placeholder="Decimal or Integer" pattern="^\d+(\.\d+)?$" required value="<%= locals.inv_price %>">
    </div>
    <div class="form-group">
        <label for="inv_miles">Miles:</label>
        <input type="number" id="inv_miles" name="inv_miles" placeholder="Digits Only" required value="<%= locals.inv_miles %>">
    </div>
    <div class="form-group">
        <label for="inv_color">Color:</label>
        <input type="text" id="inv_color" name="inv_color" placeholder="What color is the car?" required value="<%= locals.inv_color %>">
    </div>
    <button type="submit">Submit</button>
</form>
