
<% if (title) { %>
    <h1><%= title %></h1>
  <% } %>
  

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<%- messages() %>

  <form action="/inv/delete/" method="POST" class="delete-vehicle-form">
    <p class="deletion-note">Confirm Deletion - The delete is permanent.</p>

    <div class="form-group">
        <label for="inv_make">Make:</label>
        <input type="text" id="inv_make" name="inv_make"  placeholder="Minimum 2 characters" pattern="[A-Za-z]{2,}" required value="<%= locals.inv_make %>">
    </div>

    <div class="form-group">
        <label for="inv_model">Model:</label>
        <input type="text" id="inv_model" name="inv_model"  placeholder="Minimum 2 characters, alphabetic only" pattern="[A-Za-z]{2,}" required value="<%= locals.inv_model %>">
    </div>
    
    <div class="form-group">
        <label for="inv_year">Year:</label>
        <input type="text" id="inv_year" name="inv_year"  placeholder="Minimum of 4 digits" pattern="\d{4}" required value="<%= locals.inv_year %>">
    </div>
    
    <div class="form-group">
        <label for="inv_price">Price:</label>
        <input type="number" id="inv_price" name="inv_price"  placeholder="Decimal or Integer" pattern="^\d+(\.\d+)?$" required value="<%= locals.inv_price %>">
    </div>
    
    <button type="submit">Delete Vehicle</button>
    
    <input type="hidden" name="inv_id"
        <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
        <% } %>>
</form>
